/* General body styles */
body{
    background-color: beige;
    color: black;
    margin: 0;
    padding: 0;

}

header {
    background-color: aquamarine;
    color: white;
    padding: 0;
    text-align: center;
}
nav ul {
    align-content: center;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;

}

.container{
    padding: 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.col-4 {
    flex: 1 1 30%;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

.card {
    background-color: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

footer{
    text-align: center;
    padding: 10px;
    position: relative;
}
h1{
    font-style:italic;

}